
<div class="masthead">
  <ul class="language-nav">
    <li> <a href="#">CSS</a> </li>
    <li> <a href="#">HTML</a> </li>
    <li> <a href="#">Javascript</a> </li>
    <li> <a href="#">Ruby</a> </li>
  </ul>
    
  <img class="logo" src="/assets/AA_Times_Logo.png" alt="Logo">
  
  <ul class="masthead-links">
    <li><p>Tuesday, October 18, 2016</p></li>
    <li> 
      <i class="far fa-newspaper"></i>
      <a href="#">Today’s Paper</a>
     </li>
    <li> 
      <i class="fas fa-video"></i>
      <a href="#">Video</a> </li>
    <li><p>77°F  </p></li>
    <li><p>AAO <strong>+100%</strong></p></li>
  </ul>
</div>


